<script>
    import {mapState} from 'vuex';

    import ContactModal from '../components/contacts/ContactModal'

    export default {
        components: {
          ContactModal
        },
        data() {
            return {
                page:               1,
                loading:            false,
                limit:              10,
                activeContact:      {},
                contactFormVisible: false
            }
        },
        computed: {
            ...mapState('ContactsModule', [
                'contacts'
            ]),
            itemsPerPage() {
                return 10;
            }
        },
        methods:  {
            getContacts(page) {
                this.loading = true;

                this.closeContactModal();

                this.$store.dispatch('ContactsModule/getContacts', {
                    limit: this.limit,
                    page:  this.page,
                }).then(() => {
                    this.loading = false;
                });
            },
            pageChanged(page) {
                this.page = page;
                this.getContacts();
            },
            closeContactModal() {
                this.contactFormVisible = false;
            },
            createContact() {
                this.activeContact = {};
                this.contactFormVisible = true;
            },
            editContact(contact) {
                this.activeContact = contact;
                this.contactFormVisible = true;
            },
            deleteContact(contact) {
                this.$confirm('Ben je zeker dat je deze contactpersoon wilt verwijderen?', 'Contactpersoon verwijderen', {
                    confirmButtonText: 'Verwijderen',
                    cancelButtonText:  'Annuleren',
                    type:              'warning'
                }).then(() => {
                    this.$store.dispatch('ContactsModule/deleteContact', contact).then(() => {
                        this.getContacts();
                    });
                }).catch(() => {

                });
            }
        },
        created() {
            this.limit = this.itemsPerPage;
            this.getContacts();
        }
    }
</script>

<template>
    <div>
        <el-button class="pull-right mb-2" @click="createContact" type="primary" icon="el-icon-plus">{{
            this.$t('texts.add_contact') }}
        </el-button>
        <el-table
                v-loading="loading"
                :data="Object.values(contacts.data)"
                style="width: 100%">
            <el-table-column
                    prop="firstname"
                    :label="this.$t('texts.firstname')"
            >
            </el-table-column>
            <el-table-column
                    prop="name"
                    :label="this.$t('texts.name')"
            >
            </el-table-column>
            <el-table-column
                    prop="company"
                    :label="this.$t('texts.company')"
            >
            </el-table-column>
            <el-table-column
                    :label="this.$t('texts.actions')"
                    width="200"
            >
                <template slot-scope="scope">
                    <el-button-group>
                        <el-button @click="editContact(scope.row)" type="primary" icon="el-icon-edit"></el-button>
                        <el-button @click="deleteContact(scope.row)" type="danger"
                                   icon="el-icon-delete"></el-button>
                    </el-button-group>
                </template>
            </el-table-column>
        </el-table>
        <div class="block text-center mt-3">
            <el-pagination
                    v-if="Object.values(contacts.data).length"
                    layout="prev, pager, next"
                    :total="contacts.meta.total"
                    :page-size="limit"
                    v-on:current-change="pageChanged"
            >
            </el-pagination>
        </div>
        <contact-modal
                v-on:close="closeContactModal"
                v-on:contact-saved="getContacts"
                :contactProp="activeContact"
                :visible="contactFormVisible"
        ></contact-modal>
    </div>
</template>

<style scoped>

</style>