<script>
    export default {
        props: {
            contactProp: {
                required: true,
                type:     Object
            },
            visible:     {
                required: false,
                type:     Boolean,
                default:  false
            }
        },
        watch:   {
            visible(newVal) {
                this.isVisible = newVal;
            }
        },
        data() {
            return {
                contact:   {},
                isVisible: false,
                companies: {}
            }
        },
        computed: {
            modalLabel() {
                return this.contact.id ? this.$t('texts.edit_contact') : this.$t('texts.add_contact')
            }
        },
        methods: {
            setDefaultValues() {
                this.contact = {...this.contactProp};
                this.$store.dispatch('ContactsModule/getDependencies').then(companies => {
                    this.companies = companies;
                });
            },
            saveContact() {
                this.$store.dispatch('ContactsModule/saveContact', this.contact).then(contact => {
                    this.$emit('contact-saved');
                });
            },
            closeModal() {
                this.$emit('close');
            }
        }
    }
</script>

<template>
    <el-dialog
            :title="modalLabel"
            :visible.sync="isVisible"
            width="30%"
            @open="setDefaultValues"
            @close="closeModal">
        <el-form ref="form" v-model="contact" label-width="120px">
            <el-form-item label="Voornaam">
                <el-input v-model="contact.firstname"></el-input>
            </el-form-item>
            <el-form-item label="Naam">
                <el-input v-model="contact.name"></el-input>
            </el-form-item>
            <el-form-item label="Bedrijf">
                <el-select style="display: block;" v-model="contact.company_id" placeholder="Kies een bedrijf">
                    <el-option v-for="company in companies" :key="company.id" :label="company.name"
                               :value="company.id"></el-option>
                </el-select>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button @click="closeModal">Cancel</el-button>
            <el-button type="primary" @click="saveContact">Confirm</el-button>
        </span>
    </el-dialog>
</template>

<style scoped>

</style>