<script>
    export default {}
</script>

<template>
        <el-menu default-active="1" mode="horizontal" :router="true">
            <el-menu-item index="1" :route="{name: 'home.index'}">{{ $t('texts.home') }}</el-menu-item>
            <el-menu-item index="2" :route="{name: 'orders.index'}">{{ $t('texts.orders') }}</el-menu-item>
            <el-menu-item index="3" :route="{name: 'contact.index'}">{{ $t('texts.contact') }}</el-menu-item>
            <el-menu-item class="pull-right" index="4" :route="{name: 'profile.index'}">{{ $t('texts.profile') }}</el-menu-item>
        </el-menu>
</template>

<style lang="scss">
    .el-header {
        height: 80px;
        padding: 10px;
        border-bottom: solid 2px #00a0e8;
        img {
            max-height: 100%;
            width: auto;

        }
    }
</style>